<main>
        <div class="icons">
                <div class="flip-icon">
                    <div class="flip-icon-inner">
                        <div class="flip-icon-front">
                            <figure id="teams">
                                <img src="images/team.svg" alt="Teams icon" width="150">
                                <figcaption id="teams-caption">Teams</figcaption>
                            </figure>
                        </div>
                        <div class="flip-icon-back">
                            <a href="teams.html"><h2>Teams</h2></a>
                        </div>
                    </div>
                </div>

                <div class="flip-icon">
                    <div class="flip-icon-inner">
                        <div class="flip-icon-front">
                            <figure id="signup">
                                <img src="images/signup.svg" alt="Sign-up icon" width="150">
                                <figcaption>Sign-up</figcaption>
                            </figure>
                        </div>
                    <div class="flip-icon-back">
                        <a href="signup.html"><h2>Sign-up</h2></a>
                    </div>
                </div>
            </div>

                <div class="flip-icon">
                    <div class="flip-icon-inner">
                        <div class="flip-icon-front">
                            <figure id="search">
                                <img src="images/search.svg" alt="Search icon" width="150">
                                <figcaption>Search</figcaption>
                            </figure>
                        </div>
                    <div class="flip-icon-back">
                        <a href="search.html"><h2>Search</h2></a>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>