<body>

    <header id="header">
      <a id="menu" href="javascript:void(0)"></a>
        <div class="hero">
        <picture>
            <source media="(min-width: 700px)" srcset="images/fgmheader-large.webp">
            <img src="images/fgm-header.webp" alt="FGM Banner" width="400">
        </picture>     
      </div>
        <nav>
            <ul class="navigation">
            <!-- <a href="https://www.profsl.com/smf/index.php?board=9">League Main</a> -->
                <li><a href="index.html">Home</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="signup.html">Sign-up</a></li>
                <li><a href="search.html">Search</a></li>
            </ul>
        </nav>
    </header>

    <main>  
      <div>
        <h1><span id="draftyear"></span> Franchise GM Draft Room </h1>
        <h3 id="otc">On the clock:<span> </span></h3>
      </div>
      <div class="grid">
        <div class="listContainer">
          <h3>Team Selections</h3>
          <label>Filter by team
          <select name="fgm" id="fgm" class="teamChooser" required>
            <option value="">Choose a team...</option>
          </select></label>
          <table id="pickTable">
            <thead>
                <tr>
                    <th>Overall</th>
                    <th>Pick</th>
                    <th>Team</th>
                    <th>Player</th>
                </tr>
            </thead>
            <tbody id="pickTableBody"></tbody>
        </table>
            <ul id="pickList">
            </ul>
          <table></table>
        </div>
        <div class="listContainer">
          <h3>Player List</h3>
          <ul id="playerList">
          </ul>
        </div>
    </main>
  </div>
<!-- 
<div class="car">
    <h1>Welcome to CSE Motors!</h1>
    //- messages() %>
    <div class="hero">
        <picture>
            <source srcset="/images/vehicles/delorean-tn.jpg" media=" (max-width:600px)" width="400">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean" width="600" height="300">
        </picture>
    </div>
    <div class="action">
        <h2>DMC Delorean</h2>
        <p>3 cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </div>
</div>

<div class="container">
    
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!." (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div>
            <ul class="upgrade-list">
                <li>
                    <a href="">
                        <figure>
                            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" width="75" height="75">
                            <figcaption>Flux Capacitor</figcaption>
                        </figure>          
                    </a>
                </li>
                <li>
                    <a href="">
                        <figure>
                            <img src="/images/upgrades/flame.jpg" alt="Flame Decals"  width="75" height="75"> 
                            <figcaption>Flame Decals</figcaption>
                        </figure>          
                    </a>
                </li>
                <li>
                    <a href="">
                        <figure>
                            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" width="75" height="75"> 
                            <figcaption>Bumper Stickers</figcaption>
                        </figure>          
                    </a>
                </li>
                <li>
                    <a href="">
                        <figure>
                            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" width="75" height="75">
                            <figcaption>Hub Caps</figcaption>
                        </figure>          
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div> -->